<template>
    <div class="absolute w-screen h-screen top-0 left-0 animated fadeInDown" style="background-color: rgba(0, 0, 0, 0.9);" v-if="visible">
        <div class="flex content-center flex-wrap justify-center w-full h-full text-white">
            <div class="m-2">
                <div class="flex justify-center">
                    <div class="lds-roller" :class="loaderClasses" v-if="loading"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

                </div>
                <br>
                <div class="text-4xl">Twoje tłumaczenie jest przetwarzane</div>
                <div v-for="(log, index) in logs" :key="index" class="fadeInLeft">
                    {{log}}
                </div>
                <div class="m-4"> 
                    <a 
                        :href="linkToPayment" 
                        class="text-white py-2 px-4 rounded bg-green-500 hover:bg-green-600"
                        v-if="paymentActive"
                    >
                        Zapłać teraz
                    </a>

                </div>
                <div class="m-4 text-2xl cursor-pointer font-black" @click="back()">
                    <i class="fas fa-arrow-left"></i> Wróć do strony głównej
                </div>
                
            </div>
        </div>
    </div>
    
</template>
<script>
import {mapState} from 'vuex'
export default {
    computed: {
        ...mapState({
            visible: state => state.modal.fullscreenVisible,
            logs: state => state.modal.fullscreenLogs,
            loading: state => state.modal.loading,
            paymentActive: state => state.modal.paymentActive,
            linkToPayment: state => state.modal.linkToPayment,
            loaderClasses: state => state.modal.loaderClasses,
        })
    },
    methods:{
        back(){
            this.$store.commit("changeReload");
            this.$router.push({name: "Home"});
        }
    }
}
</script>