<template>
    <div>
        <company-or-private-form></company-or-private-form>
        <hr class="m-4">
        <div v-show="postType !== 'none'">
            <div class="flex flex-col md:flex-row animated fadeIn">
                <div class="flex-1">
                    <client-form></client-form>
                </div>
                <div class="flex-1">
                    <delivery-form></delivery-form>
                </div>
                <div class="flex-1 animated fadeIn" v-if="bill">
                    <bill-form></bill-form>
                </div>
            </div>
            <type-of-delivery></type-of-delivery>
            <buttons-etc></buttons-etc>
        </div>
        <end></end>

    </div>
</template>

<script>
import CompanyOrPrivateForm from './PostCreator/CompanyOrPrivateForm';
import ClientForm from './PostCreator/ClientForm'
import DeliveryForm from './PostCreator/DeliveryForm'
import BillForm from './PostCreator/BillForm'
import TypeOfDelivery from './PostCreator/TypeOfDelivery'
import ButtonsEtc from './PostCreator/ButtonsEtc'

import End from './End'


import { mapState } from 'vuex'

export default {
    components: {
        CompanyOrPrivateForm,
        ClientForm,
        DeliveryForm,
        BillForm,
        TypeOfDelivery,
        ButtonsEtc,
        End
    },
    computed: {
        ...mapState({
            'postType': state => state.post.postType,
            'bill' : state =>state.post.bill
        })
    },
}
</script>