<template>
<div>
    <img :src="aworiaHr">
    <div class="text-2xl text-gray-700 mb-4">
        Dane do faktury
    </div>

        <notice v-if="notices.billName" text="Nie wpisano imienia i nazwiska"></notice>


        <div class="text-sm" style="font-weight: bold" >
            Imię i nazwisko
        </div>
        <div class="m-2 mb-6">
            <input type="text" class="px-4 py-2 rounded-lg border-solid bg-white border border-gray-400 w-full" 
                :value="bill.name"
                @input="billChange"
                name="name" 
            >
        </div>

        <notice v-if="notices.billAddress" text="Nie wpisano adresu"></notice>

        <div class="text-sm" style="font-weight: bold" >
            Ulica oraz numer
        </div>
        <div class="m-2 mb-6">
            <input type="text" class="px-4 py-2 rounded-lg border-solid bg-white border border-gray-400 w-full" 
                :value="bill.address"
                @input="billChange"
                name="address" 
            >
        </div>

        <notice v-if="notices.billPostCode" text="Nie wpisano kodu pocztowego"></notice>

        <div class="text-sm" style="font-weight: bold" >
            Kod pocztowy
        </div>
        <div class="m-2 mb-6">
            <input type="text" class="px-4 py-2 rounded-lg border-solid bg-white border border-gray-400 w-full" 
                :value="bill.postCode"
                @input="billChange"
                name="postCode" 
            >
        </div>

        <notice v-if="notices.billCity" text="Nie wpisano miejscowości"></notice>

        <div class="text-sm" style="font-weight: bold" >
            Miejscowość
        </div>
        <div class="m-2 mb-6">
            <input type="text" class="px-4 py-2 rounded-lg border-solid bg-white border border-gray-400 w-full" 
                :value="bill.city"
                @input="billChange"
                name="city" 
            >
        </div>

        <notice v-if="notices.billPhone" text="Nie wpisano numeru telefonu"></notice>

        <div class="text-sm" style="font-weight: bold" >
            Numer telefonu
        </div>
        <div class="m-2 mb-6">
            <input type="text" class="px-4 py-2 rounded-lg border-solid bg-white border border-gray-400 w-full" 
                :value="bill.phone"
                @input="billChange"
                name="phone" 
            >
        </div>

        <div class="text-sm" style="font-weight: bold" >
            PESEL (nieobowiązkowe)
        </div>
        <div class="m-2 mb-6">
            <input type="text" class="px-4 py-2 rounded-lg border-solid bg-white border border-gray-400 w-full" 
                :value="bill.ID"
                @input="billChange"
                name="ID" 
            >
        </div>

        <notice v-if="notices.billCountry" text="Nie wpisano kraju"></notice>

        <div class="text-sm" style="font-weight: bold" >
            Kraj
        </div>
        <div class="m-2 mb-6">
            <input type="text" class="px-4 py-2 rounded-lg border-solid bg-white border border-gray-400 w-full" 
                :value="bill.country"
                @input="billChange"
                name="country" 
            >
        </div>


</div>
</template>

<script>
import aworiaHr from '../../../assets/aworiahr.jpg';

import { mapState } from 'vuex'


export default {
    data(){
        return {
            aworiaHr
        }
    },
    computed: {
        ...mapState({
            bill: state => state.post.billValues,
            notices: state => state.notice.noticesSecond,
        })
    },
    methods: {
        billChange(event){
            if(event.target.type == "checkbox"){
                this.$store.commit("post/billChange", {prop: event.target.name, value: event.target.checked});
            } else {
                this.$store.commit("post/billChange", {prop: event.target.name, value: event.target.value});

            }
        }
    }
}
</script>
