<template>
    <div class="ml-2">
        <notice v-if="notices.statute" text="Zaznaczenie jest obowiązkowe"></notice>
        <div>
            <input type="checkbox" required id="apprv1">
            <label for="apprv1">
                Oświadczam, że zapoznałem/-am się z obowiązującym regulaminem oraz polityką cookies serwisu, i w pełni je akceptuję.
            </label>
        </div>

        <notice v-if="notices.rodo" text="Zaznaczenie jest obowiązkowe"></notice>

        <div>
            <input type="checkbox" required id="apprv2">
            <label for="apprv2">
                Wyrażam zgodę na przetwarzanie moich danych osobowych podanych w powyższym formularzu, w celu należytej realizacji usług serwisu firmy Aesir.
            </label>
        </div>
        <div>
            <input type="checkbox" id="apprv3">
            <label for="apprv3">
                Wyrażam zgodę na otrzymywanie informacji handlowych od firmy Aesir na podany wcześniej adres mailowy.
            </label>
        </div>

        <div class="flex md:justify-between mt-4  md:flex-row flex-col">
            <router-link to="/wycena" tag="div" class="aworia-button b-green m-4 px-8 py-4 text-xl text-white cursor-pointer">
                Cofnij
            </router-link>
            <div class="aworia-button b-green m-4 px-8 py-4 text-xl text-white cursor-pointer"
                @click="localSend"
            >
                Zleć tłumaczenie
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'
export default {
    data(){
        return {
            
        }
    },
    computed: {
        ...mapGetters({
            isValid: "notice/isValid"
        }),
        ...mapState({
                notices: state => state.notice.noticesSecond,
        }),
        statute:{
            get(){
                return this.$store.state.form.statute;
            },
            set(value){
                this.$store.commit("form/setStatute", value)
            }
        },
        rodo:{
            get(){
                return this.$store.state.form.rodo;
            },
            set(value){
                this.$store.commit("form/setRodo", value)
            }
        },
    },
    methods:{
        ...mapActions({
            send: 'send',
            check: "notice/checkSecond"
        }),
        ...mapMutations({
            openFullscreen: "modal/openFullscreen"
        }),
        localSend(){
            this.check();
            if(this.isValid()){
                this.send();
                window.scrollTo(0,0);
                this.openFullscreen();
            } else {
                this.$openModal("noticeFalse");
            }
        },
    },
}
</script>