<template>
    <div>
        <img :src="aworiaHr">
        <div class="text-2xl text-gray-700 mb-4">
            Dane zamawiającego
        </div>

        <div>
            <notice v-if="notices.phone" text="Nie wpisano numeru telefonu"></notice>

            <div class="text-sm" style="font-weight: bold" >
                Numer telefonu
            </div>
            <div class="m-2 mb-6">
                <input type="text" class="px-4 py-2 rounded-lg border-solid bg-white border border-gray-400 w-full" v-model.lazy="phone">
            </div>

            <notice v-if="notices.email" text="Nie wpisano adresu email"></notice>


            <div class="text-sm" style="font-weight: bold" >
                Adres e-mail
            </div>
            <div class="m-2 mb-6">
                <input type="email" class="px-4 py-2 rounded-lg border-solid bg-white border border-gray-400 w-full" v-model.lazy="email">
            </div>

            <notice v-if="notices.emailsEqual" text="Adresy email nie są zgodne"></notice>

            <div class="text-sm" style="font-weight: bold">
                Powtórz adres e-mail
            </div>
            <div class="m-2 mb-6">
                <input type="email" class="px-4 py-2 rounded-lg border-solid bg-white border border-gray-400 w-full" v-model.lazy="emailCheck">
            </div>
        </div>

        <div v-if="type != 'company'">
            <hr class="mb-4">
            <input type="checkbox" id="bill" class="m-2" v-model="bill"><label for="bill" style="m-2">Chcę otrzymać fakturę</label>

        </div>
    </div>
</template>

<script>
import aworiaHr from '../../../assets/aworiahr.jpg';

import { mapState, mapMutations } from 'vuex'

export default {
    data(){
        return {
            aworiaHr
        }
    },
    computed:{
        phone:{
            get(){
                return this.$store.state.post.clientPhone;
            },
            set(value){
                this.$store.commit("post/setClientPhone", value)
            }
        },
        email:{
            get(){
                return this.$store.state.post.clientEmail;
            },
            set(value){
                this.$store.commit("post/setClientEmail", value)
            }
        },
        emailCheck:{
            get(){
                return this.$store.state.post.clientEmailCheck;
            },
            set(value){
                this.$store.commit("post/setClientEmailCheck", value)
            }
        },
        bill:{
            get(){
                return this.$store.state.post.bill;
            },
            set(value){
                this.$store.commit("post/setBill", value)
            }
        },
        ...mapState({
            type: state => state.post.postType,
            notices: state => state.notice.noticesSecond,

        })
    }
}
</script>
