<template>
    <div class="flex md:justify-around justify-center md:flex-row flex-col">
        <div class="text-xl cursor-pointer inline-block" @click="setPostType('company')">
            <img :src="imgCompany" class="inline-block" style="max-width: 50px; height: auto">
            <span class="ml-8">
                Firma
            </span>
        </div>
        <div class="text-xl cursor-pointer" @click="setPostType('private')">
            <img :src="imgPrivate" class="inline-block" style="max-width: 50px; height: auto">
            <span class="ml-8">
                Dane prywatne
            </span>
        </div>
    </div>
</template>

<script>
import imgPrivate from '../../../assets/private.png'
import imgCompany from '../../../assets/company.png'

import { mapState, mapMutations } from 'vuex'

export default {
    data(){
        return {
            imgPrivate,
            imgCompany,
            ...mapState({
                postType: state => state.post.postType
            })
        }
    },
    methods: {
        ...mapMutations({
            setPostType: 'post/setPostType'
        })
    }
}
</script>
