<template>
    <div>
        <img :src="aworiaHr">
        
        <notice v-if="notices.oneDelivery" text="Nie wybrano żadnej metody dostawy"></notice>

        <div class="text-2xl text-gray-700 mb-4">
            Sposób dostawy <span @click="$openModal('deliveryMethod')"><i class="fas fa-info-circle cursor-pointer" ></i></span>
        </div>

        <div>
            <input type="checkbox" id="email" name="byEmail" class="m-2" :checked="delivery.byEmail" @click="deliveryChange">
            <label for="email" style="m-2">Email</label>
        </div>

        <div>
            <input type="checkbox" id="byPrivate" name="byPrivate" class="m-2" :checked="delivery.byPrivate" @click="deliveryChange">
            <label for="byPrivate" style="m-2">Adres prywatny</label>
        </div>

        <div>
            <input type="checkbox" id="byCompany" name="byCompany" class="m-2" :checked="delivery.byCompany" @click="deliveryChange">
            <label for="byCompany" style="m-2">Adres firmowy</label>
        </div>


        <div v-if="delivery.byPrivate || delivery.byCompany" class="animated fadeIn">

            <notice v-if="notices.name" text="Nie wpisano imienia i nazwiska"></notice>

            <div class="text-sm" style="font-weight: bold" >
                Imię i nazwisko
            </div>
            <div class="m-2 mb-6">
                <input type="text" class="px-4 py-2 rounded-lg border-solid bg-white border border-gray-400 w-full" 
                    :value="delivery.name"
                    @input="deliveryChange"
                    name="name" 
                >
            </div>

            <notice v-if="notices.address" text="Nie wpisano adresu"></notice>

            <div class="text-sm" style="font-weight: bold" >
                Ulica oraz numer
            </div>
            <div class="m-2 mb-6">
                <input type="text" class="px-4 py-2 rounded-lg border-solid bg-white border border-gray-400 w-full" 
                    :value="delivery.address"
                    @input="deliveryChange"
                    name="address" 
                >
            </div>

            <notice v-if="notices.postCode" text="Nie wpisano kodu pocztowego"></notice>


            <div class="text-sm" style="font-weight: bold" >
                Kod pocztowy
            </div>
            <div class="m-2 mb-6">
                <input type="text" class="px-4 py-2 rounded-lg border-solid bg-white border border-gray-400 w-full" 
                    :value="delivery.postCode"
                    @input="deliveryChange"
                    name="postCode" 
                >
            </div>

            <notice v-if="notices.city" text="Nie wpisano miejscowości"></notice>

            <div class="text-sm" style="font-weight: bold" >
                Miejscowość
            </div>
            <div class="m-2 mb-6">
                <input type="text" class="px-4 py-2 rounded-lg border-solid bg-white border border-gray-400 w-full" 
                    :value="delivery.city"
                    @input="deliveryChange"
                    name="city" 
                >
            </div>

            <notice v-if="notices.phone2" text="Nie wpisano numeru telefonu"></notice>

            <div class="text-sm" style="font-weight: bold" >
                Numer telefonu
            </div>
            <div class="m-2 mb-6">
                <input type="text" class="px-4 py-2 rounded-lg border-solid bg-white border border-gray-400 w-full" 
                    :value="delivery.phone"
                    @input="deliveryChange"
                    name="phone" 
                >
            </div>

            <notice v-if="notices.country" text="Nie wpisano kraju"></notice>


            <div class="text-sm" style="font-weight: bold" >
                Kraj
            </div>
            <div class="m-2 mb-6">
                <input type="text" class="px-4 py-2 rounded-lg border-solid bg-white border border-gray-400 w-full" 
                    :value="delivery.country"
                    @input="deliveryChange"
                    name="country" 
                >
            </div>

        </div>

    </div>
</template>

<script>
import aworiaHr from '../../../assets/aworiahr.jpg';

import { mapState, mapMutations } from 'vuex'

export default {
    data(){
        return {
            aworiaHr
        }
    },
    computed: {
        ...mapState({
            delivery: state => state.post.delivery,
            notices: state => state.notice.noticesSecond,
        })
    },
    methods: {
        deliveryChange(event){
            if(event.target.type == "checkbox"){
                this.$store.commit("post/deliveryChange", {prop: event.target.name, value: event.target.checked});
            } else {
                this.$store.commit("post/deliveryChange", {prop: event.target.name, value: event.target.value});

            }
        }
    }
}
</script>

