<template>
    <div>
        <img :src="aworiaHr">
        <div class="text-2xl text-gray-700 mb-4">
            Rodzaj wysyłki <span @click="$openModal('deliveryType')"><i class="fas fa-info-circle cursor-pointer" ></i></span>
        </div>

        <div class="flex md:flex-row flex-col">
            <div v-for="item in postView" :key="item.name" @click="setDeliveryType(item.name)" class="m-6">
                <input type="checkbox" :id="item.name" :checked="item.name == deliveryType">
                <label :for="item.name">{{ item.title }}</label>
            </div>
        </div>

    </div>
</template>

<script>
import aworiaHr from '../../../assets/aworiahr.jpg';

import { mapState, mapMutations } from 'vuex'

export default {
    data(){
        return {
            aworiaHr,
            postView: [
                {
                    name: 'economy',
                    title: 'List polecony ekonomiczny'
                },
                {
                    name: 'priority',
                    title: 'List polecony priorytetowy'
                },
                {
                    name: 'carrier',
                    title: 'Kurier'
                }
            ],
        }
    },
    computed: {
        ...mapState({
            deliveryType: state => state.post.deliveryType
        })
    },
    methods:{
        ...mapMutations({
            setDeliveryType: "post/setDeliveryType"
        })
    }
}
</script>

