<template>
<div style="max-width:1280px; margin: auto;">
    <languages-form></languages-form>
    <text-or-files-form></text-or-files-form>
    <details-form></details-form>
    <terms-form></terms-form>
    <comment-for-translator></comment-for-translator>
    <button-form></button-form>
    <price></price>
</div>
</template>
<script>

import LanguagesForm from './TextFileCreator/LanguagesForm'
import TextOrFilesForm from './TextFileCreator/TextOrFilesForm'
import DetailsForm from './TextFileCreator/DetailsForm'
import TermsForm from './TextFileCreator/TermsForm'
import CommentForTranslator from './TextFileCreator/CommentForTranslator'
import ButtonForm from './TextFileCreator/ButtonForm'
import Price from './TextFileCreator/Price'

export default {
    components: {
        LanguagesForm,
        TextOrFilesForm,
        DetailsForm,
        TermsForm,
        CommentForTranslator,
        ButtonForm,
        Price
    }
}
</script>