<template>
    <div class="flex justify-end">
        <button 
            class="aworia-button b-green m-4 px-8 py-4 text-xl text-white cursor-pointer"
            @click="localMethod"
        >Wyceń zlecenie</button> 
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex"
export default {
    computed: {
        ...mapGetters({
            isValid: "notice/isValid"
        })
    },
    methods: {
        ...mapActions({
            check: "notice/checkFirst"
        }),
        localMethod(){
            this.check();
            if(this.isValid()){
                this.$router.push({name: "Wycena2"});
            } else {
                this.$openModal("noticeFalse");
            }
        }
    }
}
</script>