<template>
    <div>
        <img :src="aworiaHr">
        <div class="text-2xl text-gray-700 m-2">
            Ewentualne informacje dla tłumacza
        </div>

        <textarea class="w-full h-40 rounded-lg border-solid bg-white border border-gray-400 p-4 mt-4 mb-2" 
                v-model.lazy="text">
        </textarea>
    </div>
</template>

<script>

import aworiaHr from '../../../assets/aworiahr.jpg';


export default {
    data(){
        return {
            aworiaHr
        }
    },
    computed:{
        text: {
            get(){
                return this.$store.state.form.commentForTrans;
            },
            set(value){
                this.$store.commit('form/updateCommentForTrans', value);
            },
        },
    }
}
</script>