<template>
  <div class="mt-4 mb-8">
      <div class="flex flex-col md:flex-row">
          <div class="flex-1">
                <img :src="aworiaHr">

                <div class="text-2xl text-gray-700 m-1">
                    Rodzaj tłumaczenia <span @click="$openModal('transType')"><i class="fas fa-info-circle cursor-pointer" ></i></span>
                </div>
                <notice v-if="notices.transType" text="Nie wybrano rodzaju tłumaczenia"></notice>

                <div class="flex justify-around">
                    <span class="md:px-10 px-4 py-2 m-4 text-white cursor-pointer rounded-lg aworia-button"
                         v-for="button in typeHelper" 
                         :key="button[0]"
                         :class="button[0] == transType ? 'b-green' : 'b-gray'"
                         @click="setTransType(button[0])"
                        >
                        {{ button[1] }}
                    </span> 
                </div>


          </div>

        <div class=" w-16"></div>

          <div class="flex-1">
              <img :src="aworiaHr">
                <div class="text-2xl text-gray-700 m-1">
                    Tłumaczenie specjalistyczne <span @click="$openModal('transSpecial')"><i class="fas fa-info-circle cursor-pointer" ></i></span>
                </div>

                <notice v-if="notices.transSpecial" text="Nie wybrano czy tłumaczenie ma być specjalistyczne"></notice>

                <div class="flex justify-around">
                    <span class="md:px-12 px-4 py-2 m-4 text-white cursor-pointer rounded-lg aworia-button"
                         v-for="button in specialHelper" 
                         :key="button[0]"
                         :class="button[0] == transSpecial ? 'b-green' : 'b-gray'"
                         @click="setTransSpecial(button[0])"
                        >
                        {{ button[1] }}
                    </span> 
                </div>


          </div>
      </div>


  </div>
</template>

<script>
import aworiaHr from '../../../assets/aworiahr.jpg';

import { mapState, mapMutations } from 'vuex'

export default {
    data(){
        return {
            aworiaHr,
            
            typeHelper: [
                ['usual', 'Zwykłe'],
                ['swear', 'Przysięgłe'],
                ['unknown', 'Nie wiem']
            ],
            specialHelper: [
                ['yes', 'Tak'],
                ['no', 'Nie'],
                ['unknown', 'Nie wiem']
            ]
        }
    },
    computed:{
        ...mapState({
                transType: state => state.form.transType,
                transSpecial: state => state.form.transSpecial,
                notices: state => state.notice.noticesFirst,
            }),
    },
    methods:{
        ...mapMutations({
            setTransType: 'form/setTransType',
            setTransSpecial: 'form/setTransSpecial',
        })
    }
}
</script>
