<template>
<div class="mb-4">
    <img :src="aworiaHr">
    <div class="flex flex-col md:flex-row">
        <div class="m-4 mt-2 flex-1">
            <div class="text-2xl text-gray-700">
                Język źródłowy <span @click="$openModal('inputLanguage')"><i class="fas fa-info-circle cursor-pointer" ></i></span>
            </div>

            <notice v-if="notices.languageInput" text="Nie wybrano języka źródłowego"></notice>

            <select class="appearance-none p-4 my-2 rounded-lg border-solid bg-white border border-gray-400 cursor-pointer" 
                style="width: 100%"
                v-model.number="selectedInput">
                <option disabled selected value="0"> Wybierz język </option>
                <option 
                    v-for="lang in availableLanguages" 
                    :key="lang.id"
                    :value="lang.id"
                >
                    {{lang.title.rendered}}
                </option>
            </select>

        </div>

        <div class="m-4 mt-2 flex-1">
            <div class="text-2xl text-gray-700">


                Języki docelowe
            </div>

            <notice v-if="notices.languageOutput" text="Nie wybrano języka docelowego"></notice>

            <div class="flex items-center">
                <select class="appearance-none p-4 my-2 rounded-l-lg border-solid bg-white border border-gray-400 cursor-pointer" 
                        style="width: 200px; height: 60px; display: inline-block"
                        v-model.number="tempSelectedOutput"
                        >
                    <option disabled selected value="0"> Wybierz język </option>
                    <option 
                        v-for="(item, index) in translations[selectedInput]" 
                        :key="index" 
                        :value="item"
                    >
                        {{ getNameByID(item) }}
                    </option>
                </select>
                <span 
                    class="p-4 rounded-r-lg border-solid bg-white border border-gray-400"
                    style="width: calc(100% - 200px); height: 60px; display: inline-block">

                    <span 
                        v-for="(item, index) in selectedOutput" 
                        :key="index" 
                        class="p-2 bg-green-500 text-white rounded-lg cursor-pointer ml-2"
                        @click="deleteOutput(item)"
                    >
                        {{ getNameByID(item) }} <i class="fas fa-times-circle"></i>
                    </span>

                </span>

            </div>
        </div>

    </div>
</div>
</template>
<script>

import { mapState, mapGetters } from 'vuex'

import aworiaHr from '../../../assets/aworiahr.jpg';

export default {
    data() {
        return {
            aworiaHr,
            tempSelectedOutput: 0
        }
    },
    mounted(){
        this.$store.dispatch('languages/getLanguages');
    },
    computed:{
        ...mapState({
            availableLanguages: state => state.languages.languages,
            translations: state => state.languages.translations,
            selectedOutput: state => state.languages.selectedOutput, //Array
            notices: state => state.notice.noticesFirst,
        }),
        selectedInput: {
            get(){
                return this.$store.state.languages.selectedInput
            },
            set(value){
                this.tempSelectedOutput = 0;
                this.$store.commit('languages/changeInput', value);
            }
        },
    },
    watch:{
        tempSelectedOutput(){
            this.$store.commit('languages/addOutput', this.tempSelectedOutput);
        }
    },
    methods: {
        getNameByID(id){
            return this.$store.getters['languages/getNameByID'](parseInt(id));
        },
        deleteOutput(id){
            this.$store.commit('languages/deleteOutput', id);
        }
    }
}
</script>