<template>
<div>

    <div class="my-32"></div>

    <div class="fixed bottom-0 right-0 m-2">
        <div class="flex justify-center">
            <div class="bg-green-700 text-white rounded-lg py-4 px-8 b-green text-center">
                <div class=" text-2xl">
                    Wartość zlecenia
                </div>
                <hr>
                <div class="text-2xl">
                    {{ cost }} {{ moneyOrNot }}
                </div>
            </div>
        </div>
</div>
</div>
</template>
<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'
export default {
    data(){
        return {
            priceSpecialisticMultipiler: 1,
            priceMultiplier: 1
        }
    },
    computed:{
        ...mapState({
            termSelected:  state => state.form.termSelected,
            transSpecial: state => state.form.transSpecial,
            transType: state => state.form.transType,
            text: state => state.form.text,
            cost: state => state.form.cost,
            selectedInput: state => state.languages.selectedInput,
            selectedOutput: state => state.languages.selectedOutput,

                //tutaj będzie albo pokazywać liczbę, albo tekst
        }),
        moneyOrNot(){
            if(typeof this.cost == "number"){
                return "zł";
            } else {
                return null;
            }
        }
    },
    watch:{
        termSelected: function(){
            this.updatePrice();
        },
        transSpecial: function(){
            this.updatePrice();
        },
        transType: function(){
            this.updatePrice();
        },

        text: function(){
            this.updatePrice();
        },

        selectedInput: function(){
            this.updatePrice();
        },
        selectedOutput: function(){
            this.updatePrice();
        },

    },
    methods: {
        ...mapActions({
            updatePrice: 'form/updatePrice'
        }),
    }
}
</script>