<template>
<div class="mb-12">
    <img :src="aworiaHr">
    <div class="text-2xl text-gray-700 m-2">
        Termin realizacji zamówienia <span @click="$openModal('term')"><i class="fas fa-info-circle cursor-pointer" ></i></span>
    </div>
    <div class="flex flex-col md:flex-row">
        <div class="flex-1 rounded-lg px-8 pt-8 m-4 pb-4" 
            v-for="term in terms" :key="term.title"
            style="box-shadow: 0 10px 15px 10px rgba(0,0,0,.1),0 10px 10px -5px rgba(0,0,0,.04)"
        >
            <div class="flex justify-center flex-col content-end">
                <div><img :src="term.img" style="width: 96px; height:96px;" class="m-auto"></div>
                <div class="text-2xl m-auto">{{term.title}}</div>
                <hr class="mx-10 my-2">
                <div class="text-sm text-gray-500 m-auto">MAKSYMALNY TERMIN</div>
                <div class="text-green-500 m-auto">
                    <span class="text-4xl">{{term.number}}</span> <span class="text-sm">{{term.unitType}}</span>
                </div>
                <div class="m-auto text-gray-500 text-sm text-center mb-4">
                    Maksymalnie {{term.pages}} stron rozliczeniowych na każdy dzień
                </div>
                <div class="m-auto text-center text-sm">
                    {{term.cost.toUpperCase()}}
                </div>
                <div class="lg:h-5 h-0" v-if="term.title == 'Standardowy'"></div>
                <div class="aworia-button text-white px-6 py-2 mt-6 mx-auto mb-0 cursor-pointer"
                    :class="term.name == selected ? 'b-green' : 'b-gray'"
                    @click="termSelect(term.name)"
                    >{{ term.name == selected ? 'Wybrany' : 'Wybierz' }}
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import slowImg from '../../../assets/svg/slow.svg';
import mediumImg from '../../../assets/svg/medium.svg';
import immediateImg from '../../../assets/svg/immediate.svg';
import extremeImg from '../../../assets/svg/extreme.svg';

import aworiaHr from '../../../assets/aworiahr.jpg';

import { mapState, mapMutations } from 'vuex'

export default {
    data() {
        return {
            aworiaHr,

            terms: [
                {
                    name: 'slow',
                    title: 'Standardowy',
                    number: 4,
                    unitType: 'dni robocze',
                    pages: 5,
                    cost: "Stawka podstawowa (bez dopłaty)",
                    img: slowImg
                },
                {
                    name: 'medium',
                    title: 'Przyspieszony',
                    number: 3,
                    unitType: 'dni robocze',
                    pages: 9,
                    cost: "Dopłata 30% stawki podstawowej",
                    img: mediumImg
                },
                {
                    name: 'immediate',
                    title: 'Pilny',
                    number: 2,
                    unitType: 'dni robocze',
                    pages: 12,
                    cost: "Dopłata 60% stawki podstawowej",
                    img: immediateImg
                },
                {
                    name: 'extreme',
                    title: 'Ekspresowy',
                    number: 24,
                    unitType: 'h',
                    pages: 15,
                    cost: "Dopłata 100% stawki podstawowej",
                    img: extremeImg
                },
            ]
        }
    },
    computed:{
        ...mapState({
            selected: state => state.form.termSelected
        }),
    },
    methods:{
        ...mapMutations({
            'termSelect': 'form/termSelect'
        })
    }
}
</script>
