<template>
    <div>
    <img :src="aworiaHr">
        <div class="m-4">
            <div class="text-2xl text-gray-700">
                Wprowadź tekst i/lub załącz pliki <span @click="$openModal('textOrFiles')"><i class="fas fa-info-circle cursor-pointer" ></i></span>
            </div>

            <notice v-if="notices.textOrFiles" text="Nie załączono ani tekstu, ani żadnego pliku"></notice>

            <textarea 
                class="w-full rounded-lg border-solid bg-white border border-gray-400 p-4 mt-4 mb-2" 
                id="translate_text"
                @input="changeHeight"
                v-model="text"
            >
            </textarea>

            

            
            <input type="file" id="file" ref="file" @change="handleUpload()" style="display:none">
            <label for="file" class="px-4 py-2 m-1 aworia-button b-green rounded-lg text-white cursor-pointer inline-block" @click="$refs['file'].click();">Dodaj plik</label>

            <ul class="ml-2">
                <li v-for="(file, key) in fileList" 
                    :key="randomNumber + key" 
                    class="p-2 text-lg" 
                    
                >
                    <i class="fas fa-file-upload mr-1"></i> {{ file.name }}<i class="fas fa-times-circle ml-1 cursor-pointer" @click="deleteFile(key)"></i>
                </li>
            </ul>

        </div>
    </div>
</template>

<script>

import { mapActions, mapGetters, mapState } from 'vuex'

import aworiaHr from '../../../assets/aworiahr.jpg';

export default {
    data(){
        return {
            aworiaHr,
        }
    },
    computed: {
        text: {
            get(){
                return this.$store.state.form.text;
            },
            set(value){
                this.$store.commit('form/updateText', value);
            },
        },
        randomNumber: {
            cache: false,
            get(){
                return window.crypto.getRandomValues(new Uint32Array(1))[0];
            }
        },
        ...mapState({
            fileList: state => state.form.fileList,
            notices: state => state.notice.noticesFirst,
        })
    },
    methods: {
        handleUpload(){
            this.addFile(this.$refs.file.files[0]);
        },
        ...mapActions({
            sendFiles: 'form/sendFiles',
            addFile: 'form/addFile',
            deleteFile: 'form/deleteFile'
        }),
        changeHeight(){
            let element = document.getElementById("translate_text");
            element.style.height = "5px";
            element.style.height = (element.scrollHeight)+"px";
        }
    }
}
</script>

<style>

</style>