/* @import './_tailwind'; */
@import './components/progress-bar';
@import './components/slick';
@import './components/animate.css';

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/* My styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

.aworia-button {
   display: inline-block;
   border-radius: 5px;
   /* transition: all .5s;
   filter: hue-rotate(0deg); */
   text-decoration: none;
 }

/*  .aworia-button:hover {
   filter: hue-rotate(30deg);
 } */

 .b-green, .b-green:before {
   background: rgba(73, 234, 121, 1);
   background: -moz-linear-gradient(45deg, rgb(41, 228, 97) 0%, rgb(26, 188, 107) 100%);
 }

 .b-gray, .b-gray:before {
   background: rgb(66, 66, 66);
   background: -moz-linear-gradient(45deg, rgb(175, 175, 175) 0%, rgb(146, 146, 146) 100%);
 }

 .b-gray:hover {
   background: rgb(110, 184, 132);
   background: -moz-linear-gradient(45deg, rgb(98, 182, 123) 0%, rgb(42, 177, 109) 100%);
 }

 .b-plain-aworia {
  background-color: #2fc853;
 }
/*  .b-plain-aworia:hover {
  background-color: #4fd16d;
 } */

 @media only screen and (max-width:1000px){
  .language-select{
    width: 100%;
    display: block;
  }
 }

 @media only screen and (min-width:1000px){
   .language-select{
    width: calc(100% - 200px);
     height: 60px; 
     display: inline-block
   }

}

textarea#translate_text {
  resize: none;
    overflow: hidden;
    min-height: 12rem;
}










/* Loader */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}