<template>
<div>
    <div class="w-full h-16 flex justify-between content-center md:pr-48 p-0" 
        :class="{
            'bg-white' : path != '/',
            'absolute text-white': path == '/',
        }"
        :style="{
            'text-shadow': path == '/' ? '2px 2px 4px #000000' : ''
        }"
    >

        <div class="flex content-center h-16 md:inline-block hidden">
            <div class="self-center mx-4" :class="{'hidden' : path == '/'}">
                <img :src="'./' + logo">
            </div>
        </div>
        <div class="flex content-center h-16">
            <router-link to="/" class="self-center mx-4" style="">
                Strona główna
            </router-link>
            <router-link to="/wycena" class="self-center mx-4">
                Szybka wycena
            </router-link>
            <router-link to="/cennik" class="self-center mx-4">
                Cennik
            </router-link>
            <router-link to="/form" class="self-center mx-4">
                Kontakt
            </router-link>
        </div>
    </div>


</div>
</template>

<script>

import logo from '../../assets/logo.png'

export default {
    data() {
        return {
            path: '',
            logo
        }
    },
    watch: {
        '$route': function() {
            this.path = this.$route.path
        }
    },
    mounted(){
        this.path = this.$route.path;
    }
}
</script>