<template>
<div v-if="modal.visible" @click.self="closeModal()" class="flex items-center justify-center fixed z-50 animated fadeIn" style="height: 100vh; width:100vw; background-color: rgba(0, 0, 0, 0.5)">
    <div class="rounded-lg shadow-2xl p-8 m-4 max-w-md max-h-full text-center fixed z-50 bg-white animated zoomIn faster">
        <div class="mb-4">
            <p>{{ modal.texts[modal.textTag] }}</p>
            <div v-if="modal.link" class="m-2">
                <router-link 
                    class="text-white py-2 px-4 rounded bg-green-500 hover:bg-green-600"
                    :to="modal.linkDestination"
                >
                    {{modal.linkDescription}}
                </router-link>
            </div>
        </div>
        <div class="flex justify-center ">
            <button class="flex-no-shrink text-white py-2 px-4 rounded bg-green-500 hover:bg-green-600" @click="closeModal()">Zamknij</button>
        </div>
    </div>
</div>
</template>
<script>

import { mapState } from 'vuex'
export default {
    methods:{
        closeModal(){
            this.$store.commit("modal/closeModal");
        }
    },
    computed: {
        ...mapState({
            modal: state => state.modal,
        })
    },
    data(){
        return {
        }
    },
}
</script>