<template>
<div class="flex m-2 justify-center">
    <span class="
        font-black text-red-600 text-center
        border-red-400 border-2
        rounded-full
        pl-5 pr-10 py-3 
        appearance-none">
        {{ text }}
        <i class="fas fa-exclamation-circle"></i>
 </span>
</div>
</template>

<script>
export default {
    props: ["text"]
}
</script>