<template>
    <div style="max-width:1280px; margin: auto;">
        <cennik-table></cennik-table>
    </div>
</template>
<script>
import CennikTable from './Cennik/CennikTable';
export default {
    components:{
        CennikTable
    }
}
</script>