<template>
<div  style="max-width:1280px; margin: auto;">
    <div class="flex flex-col md:flex-row m-10 justify-center">
        <div class="rounded-lg shadow-lg p-12 mr-24" style="max-width: 500px">
            <div class="m-4">
                <label for="name" class="inline-block w-40">Imię i nazwisko</label>
                <input type="text" id="name" class="border-solid border-b w-48 ml-4" v-model="name">
            </div>
            <div class="m-4">
                <label for="email" class="inline-block w-40">Email</label>
                <input type="text" id="email" class="border-solid border-b w-48 ml-4" v-model="email">
            </div>
            <div class="m-4">
                <label for="phone" class="inline-block w-40">Numer telefonu</label>
                <input type="text" id="phone" class="border-solid border-b w-48 ml-4" v-model="phone">
            </div>  
            <div class="m-4">
                <label for="text" class="inline-block w-40" style="">Treść wiadomości</label>
                <textarea 
                    type="text" 
                    id="text" 
                    class="border-solid border-b w-48 ml-4" 
                    v-model="text"
                    style="height: 200px"
                ></textarea>  
            </div>
            <div class="flex justify-end">
                <button class="aworia-button b-green px-20 py-4 text-white" @click="sendForm">Wyślij</button>
            </div>

        </div>

        <div>
            <table class="table-auto">
                <tr>
                    <td class="border-solid border-r border-gray-400">
                        <span class="m-4 text-2xl text-green-500"><i class="fas fa-map"></i></span>
                    </td>
                    <td>
                    <div class="pl-4">
                        <span class="text-2xl">Dane firmy</span><br>
                        Nazwa firmy:<br>
                        Adres: <br>
                        Kod pocztowy:
                    </div>
                        
                    </td>
                </tr>
                <br><br>

                <tr>
                    <td class="border-solid border-r border-gray-400">
                        <span class="m-4 text-2xl text-green-500"><i class="fas fa-phone-alt"></i></span>
                    </td>
                    <td>
                    <div class="pl-4">
                        <span class="text-2xl">Dane kontaktowe</span><br>
                        Telefon:
                    </div>
                    </td>
                </tr>

                <tr>
                    <td class="border-solid border-r border-gray-400">
                        <span class="m-4 text-2xl text-green-500"><i class="fas fa-envelope"></i></span>
                    </td>
                    <td>
                    <div class="pl-4">
                        Adres e-mail: <a class="hover:text-green-500 text-green-700" href="mailto:kontakt@arezan.pl">kontakt@arezan.pl</a>
                    </div>
                    </td>
                </tr>
            </table>  
        </div>


    </div>
</div>
</template>
<script>

import env from '../../env.js';

export default {
    data(){
        return {
            name: "",
            email: "",
            phone: "+48 ",
            text: ""
        }
    },
    methods: {
        sendForm(){
            this.axios.post(env.url+'wp-admin/admin-ajax.php/?action=form_handler', {
                name: this.name,
                email: this.email,
                phone: this.phone,
                text: this.text
            }, { headers: { 'Content-Type': 'application/json;charset=UTF-8', "Access-Control-Allow-Origin": "*" } })
            .then(response => {
                this.$openModal('formGood');
                this.name = "";
                this.email = "";
                this.text =  "";
                this.phone = "";
            })
        }
         
    },
    mounted(){
        this.$store.commit("modal/closeModal");
    }
}

</script>