<template>
  <div class="bg-gray-200">
    <!--Header-->
        <div class="w-full m-0 p-0 bg-cover" 
            :style="{'height': '60vh', 'max-height':'460px', 'background-position': '35% 35%', 'background-image': 'url(' + background + ')'}"
            >
            <div class="container max-w-4xl mx-auto pt-16 md:pt-32 text-center break-normal">
                <!--Title-->
                    <p class="flex justify-center">
                        <img :src="'./' + logo">
                    </p>
                    <p class="text-xl md:text-3xl" style="font-weight:400; color: white; text-shadow: 2px 2px 10px black">Pozostaw nam swój teskt. My zajmiemy się resztą</p>
            </div>
        </div>


            <!--Container-->
            <div class="container px-4 md:px-0 max-w-6xl mx-auto -mt-32">

                <div class="mx-0 sm:mx-6">



            <!--Nav-->
            <nav class="mt-0 w-full" style="display:none">
                <div class="container mx-auto flex items-center justify-center shadow-lg">

                    <div class="flex bg-green-500 rounded-t-lg">
                        <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
                            <li class="mr-2">
                                <a class="inline-block text-white no-underline hover:text-gray-200 hover:underline py-2 px-2" href="post.html">Strona główna</a>
                            </li>
                            <li class="mr-2">
                                <a class="inline-block text-white no-underline hover:text-gray-200 hover:underline py-2 px-2" href="#">Szybka wycena</a>
                            </li>
                            <li class="mr-2">
                                <a class="inline-block text-white no-underline hover:text-gray-200 hover:underline py-2 px-2" href="#">Cennik</a>
                            </li>
                            <li class="mr-2">
                                <a class="inline-block text-white no-underline hover:text-gray-200 hover:underline py-2 px-2" href="post_vue.html">Kontakt</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>

            <div class="bg-gray-200 w-full text-xl md:text-2xl text-gray-800 leading-normal rounded-t">

            <!--Lead Card-->
            <div class="flex h-full bg-white rounded overflow-hidden shadow-2xl">
                <div class="flex flex-wrap no-underline hover:no-underline">
                    <div class="w-full md:w-2/5 rounded-t">
                        <img :src="workingPeople" class="shadow" style="height: 100%; width: 100%; object-fit: cover">
                    </div>

                    <div class="w-full md:w-3/5 flex flex-col flex-grow flex-shrink shadow-2xl">
                        <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
                            <!-- <p class="w-full text-gray-600 text-xs md:text-sm pt-6 px-6">GETTING STARTED</p> -->
                            <div class="w-full font-bold text-xl text-gray-900 px-6 py-6">Informacje o nas</div>


                            

                            <p class="text-gray-800 font-serif text-base px-6 mb-5">
                            Aworia to przede wszystkim proste w użytkowaniu, zautomatyzowane narzędzie służące do szybkiej wyceny tłumaczeń jak i grono wysoko wyspecjalizowanych tłumaczy różnych języków.

                            Nasza strona internetowa została zaprojektowana w taki sposób by zamawianie usługi tłumaczenia było maksymalnie proste, zrozumiałe i szybkie w realizacji. Dzięki temu, z naszych rozwiązań, mogą z łatwością skorzystać osoby, które mają problemy w obsłudze stron internetowych oraz te, które nie potrafią rozszyfrować znaczenia fachowego słownictwa.
                            Po niewidocznej stronie Aworii pracuje sztab profesjonalnych tłumaczy, również przysięgłych oraz native speakerów, którzy są wieloletnimi ekspertami w swojej dziedzinie. Ich praktyka oraz zdobyta wiedza pozwala na tworzenie nawet najbardziej fachowych przekładów. Ponadto tłumacze Aworii służą pomocą w doradztwie jak i znajdowaniu najlepszych rozwiązań, by móc czerpać przyjemność z pełnego zadowolenia naszych klientów.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <!--/Lead Card-->

            <div class="flex h-full justify-center">
                <router-link to="wycena" class="aworia-button b-green m-4 px-8 py-4 text-xl text-white cursor-pointer">Zleć tłumaczenie</router-link>
            </div>


            <!--Posts Container-->
            <div class="flex flex-wrap justify-between">

                <!--1/3 col -->
                <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                    <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
                            <!-- <img src="https://source.unsplash.com/collection/225/800x600" class="h-64 w-full rounded-t pb-6"> -->
                            <span class="justify-center flex" style="font-size:50px"><i class="far fa-credit-card py-6"></i></span>
                            <div class="w-full font-bold text-xl text-gray-900 px-6 text-center">Płatności online</div>
                            <p class="text-gray-800 font-serif text-base px-6 mb-5">
                            Nie musisz już oczekiwać niejednokrotnie dniami na zaksięgowanie płatności i rozpoczęcie usługi. Płatność odbywa się online co znacząco upraszcza i przyspiesza proces tłumaczenia.
                            </p>
                    </div>

                </div>


                <!--1/3 col -->
                <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                    <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
                            <!-- <img src="https://source.unsplash.com/collection/225/800x600" class="h-64 w-full rounded-t pb-6"> -->
                            <span class="justify-center flex" style="font-size:50px"><i class="far fa-clock py-6"></i></span>
                            <div class="w-full font-bold text-xl text-gray-900 px-6 text-center">Natychmiastowa wycena</div>
                            <p class="text-gray-800 font-serif text-base px-6 mb-5">
                                Nasza strona internetowa jest zbudowana w taki sposób by maksymalnie uprościć, skrócić i uczynić przyjaznym proces zamawiania naszych usług. Dostarczamy rozwiązanie pozwalające wycenić przekład już w chwili definiowania jego specyfikacji.
                            </p>
                    </div>

                </div>

                <!--1/3 col -->
                <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                    <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
                            <!-- <img src="https://source.unsplash.com/collection/225/800x600" class="h-64 w-full rounded-t pb-6"> -->
                            <span class="justify-center flex" style="font-size:50px"><i class="far fa-credit-card py-6"></i></span>
                            <div class="w-full font-bold text-xl text-gray-900 px-6 text-center">Fachowa pomoc</div>
                            <p class="text-gray-800 font-serif text-base px-6 mb-5">
                            Nie musisz wiedzieć w jakim języku jest Twój tekst źródłowy lub czy tłumaczenie jest specjalistyczne. Możesz kompletnie nie znać się na tłumaczeniach. Wystarczy,że wskażesz nam do jakiego celu potrzeby jest Ci przekład, a nasi tłumacze wskażą właściwe rozwiązanie.                     </p>
                    </div>

                </div>


                <!--1/2 col -->
                <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink">
                    <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
                            <!-- <img src="https://source.unsplash.com/collection/225/800x600" class="h-64 w-full rounded-t pb-6"> -->
                            <span class="justify-center flex" style="font-size:50px"><i class="far fa-credit-card py-6"></i></span>
                            <div class="w-full font-bold text-xl text-gray-900 px-6 text-center">Najwyższa jakość</div>
                            <p class="text-gray-800 font-serif text-base px-6 mb-5">
                                Tłumacze Aworii to niejednokrotnie specjaliści z wieloletnim doświadczeniem, native speakerzy różnych języków. Nad każdym tekstem pracują z pełnym zaangażowaniem, aż do ukończenia prac. Możesz być pewien, że treści które nam powierzasz są opracowywane przez fachowców w swojej dziedzinie.            
                            </p>
                        </div>
                </div>

                <!--1/2 col -->
                <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink">
                    <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
                            <!-- <img src="https://source.unsplash.com/collection/225/800x600" class="h-64 w-full rounded-t pb-6"> -->
                            <span class="justify-center flex" style="font-size:50px"><i class="fas fa-shield-alt py-6"></i></span>
                            <div class="w-full font-bold text-xl text-gray-900 px-6 text-center">Najwyższe bezpieczeństwo</div>
                            <p class="text-gray-800 font-serif text-base px-6 mb-5">
                            Nasz system jest skonstruowany w taki sposób by krąg osób które będą miały dostęp do Twoich materiałów zawęzić do minimum. Nasza strona jest wspierana certyfikatem ssl co dodatkowo zabezpiecza przesyłane dane. U nas Twoje dokumenty są bezpieczne.
                            </p>
                    </div>

                    </div>
            </div>


                    <div class="container rounded text-center">
                        <h2 class="font-bold break-normal text-2xl md:text-4xl">Opinie</h2>

                        <slick ref="slick" class="carousel shadow-lg bg-green-100" :options="slickOptions">

                            <div class="bg-green-100 border-t-4 border-green-500 rounded-b text-green-900 px-4 py-3" role="alert">
                                <div class="flex content-center">
                                    <div class="p-4 hidden md:inline-block" style="font-size:50px">
                                        <i class="fas fa-user-check"></i>
                                    </div>
                                    <div class="p-4">
                                        <p class="text-lg text-justify">
                                            Z Aworią współpracuję już od dłuższego czasu. Tłumaczenia są wykonywane rzetelnie i na czas. Nie mam wątpliwości, że trafiłem na kontrahenta na długie lata.
                                        </p>
                                        <p class="text-right">~Dawid</p>
                                    </div>
                                </div>
                            </div>

                            <div class="bg-green-100 border-t-4 border-green-500 rounded-b text-green-900 px-4 py-3" role="alert">
                                <div class="flex content-center">
                                    <div class="p-4 hidden md:inline-block" style="font-size:50px">
                                        <i class="fas fa-user-check"></i>
                                    </div>
                                    <div class="p-4">
                                        <p class="text-lg text-justify">
                                            Dzięki temu serwisowi oszczędzam mnóstwo czasu. Cenie sobie prosty i przyjazny dla użytkownika mechanizm wyceny i specyfikacji zlecenia. Nie muszę już wymieniać się dziesiątkami e-maili by dokładnie określić jakie i na kiedy chcę otrzymać tłumaczenie.
                                        </p>
                                        <p class="text-right">~Paweł</p>
                                    </div>
                                </div>
                            </div>

                            <div class="bg-green-100 border-t-4 border-green-500 rounded-b text-green-900 px-4 py-3" role="alert">
                                <div class="flex content-center">
                                    <div class="p-4 hidden md:inline-block" style="font-size:50px">
                                        <i class="fas fa-user-check"></i>
                                    </div>
                                    <div class="p-4">
                                        <p class="text-lg text-justify">
                                        W porównaniu do podobnych serwisów oferujących usługi tłumaczenia ten jest dla mnie o wiele bardziej intuicyjny. W każdej chwili mogłam liczyć na fachową pomoc. Jestem bardzo zadowolona z efektów mojego tłumaczenia dlatego polecam każdemu.
                                        </p>
                                        <p class="text-right">~Anita</p>
                                    </div>
                                </div>
                            </div>


                        </slick>
                    </div>
            </div>
        </div>
  </div>
  </div>
</template>

<script>
import Slick from 'vue-slick';

import background from '../assets/front-page-background.jpeg';
import logo from '../assets/logo.png';
import workingPeople from '../assets/working-people.jpg';

export default {
    data() {
        return {
            slickOptions: {
                autoplay: true,
                autoplaySpeed: 5000,
                arrows: false,
                adaptiveHeight: false,
                speed: 2500
            },
            background,
            logo,
            workingPeople
        }
    },
    components: {
        Slick
    },
    mounted() {
        if(this.$route.query.payment === "ok"){
            this.$openModal("payment");
        }
        if(this.$store.state.reload){
            location.reload();
        }
    }
};
</script>

