<template>
    <div>
        <div class="flex justify-center flex-col md:flex-row mb-6">
            <div class="md:px-10 px-4 py-2 m-4 text-white cursor-pointer rounded-lg aworia-button" 
                :class="[mode == 'net' ? 'b-green' : 'b-gray']"
                >
                <span class="inline-block" @click="stateHelper('net')">Wpisuję tekst i/lub wgrywam pliki</span>
                <span @click="$openModal('loadTextOrFiles')"><i class="fas fa-info-circle cursor-pointer" ></i></span>
                
            </div>
            <div class="md:px-10 px-4 py-2 m-4 text-white cursor-pointer rounded-lg aworia-button" 
                :class="[mode == 'post' ? 'b-green' : 'b-gray']">
                <span 
                    @click="stateHelper('post')">Przesyłam treści korespondecyjnie
                </span>
                <span @click="$openModal('sendByPost')"><i class="fas fa-info-circle cursor-pointer"></i></span>
            </div>

            <div class="md:px-10 px-4 py-2 m-4 text-white cursor-pointer rounded-lg aworia-button"
                :class="[mode == 'form' ? 'b-green' : 'b-gray']">
                <span 
                    @click="otherMethods"
                >
                    Pozostałe metody udostępniania treści
                </span>
                <span @click="$openModal('otherMethod')"><i class="fas fa-info-circle cursor-pointer"></i></span>
            </div>
        </div>

        <div v-if="mode == 'net'">
            <text-file-creator></text-file-creator>
        </div>
    </div>
</template>
<script>
import { mapState, mapGetters } from 'vuex'

import TextFileCreator from './Wycena/TextFileCreator'

export default {
    data() {
        return {

        }
    },
    components:{
        TextFileCreator
    },
    computed: {
        ...mapState({
            mode: state => state.wycena.mode
        })
    },
    methods: {
        stateHelper(name){
            this.$store.commit('wycena/changeMode', name);
            if(name == 'post'){
                this.$router.push('/wycena2');
            } else if (name == "form"){
                this.$router.push("/form");
            }
        },
        otherMethods(){
            //this.stateHelper('form');
            this.$openModal('otherMethodClicked');
            this.$setButton("/form", "Formularz kontaktowy");
        }
    }
}
</script>