<template>
    <div style="max-width:1280px; margin: auto;">
        <post-creator></post-creator>
    </div>
</template>

<script>

import PostCreator from './Wycena2/PostCreator';
export default {
    components:{
        PostCreator
    }
}
</script>

<style>

</style>