<template>
  <div id="my-app">
        <modal></modal>
        <menu-component></menu-component>
        <router-view></router-view>
  </div>
</template>

<script>

import Modal from './components/Partials/Modal';
import MenuComponent from './components/Partials/Menu';

export default {
  components: {
    Modal,
    MenuComponent
  }
};
</script>
