<template>
<div>
    <img :src="aworiaHr">
    <div class="flex flex-col md:flex-row">
        <div class="m-4 mt-2">
            <div class="text-2xl text-gray-700">
                Język źródłowy
            </div>
            <select class="appearance-none p-4 my-2 rounded-lg border-solid bg-white border border-gray-400 cursor-pointer" 
                style="width: 200px"
                v-model.number="selectedInput">
                <option disabled selected value="0"> Wybierz język </option>
                <option 
                    v-for="lang in availableLanguages" 
                    :key="lang.id"
                    :value="lang.id"
                >
                    {{lang.title.rendered}}
                </option>
            </select>

        </div>

        <div class="m-4 mt-2 flex-1">
            <div class="text-2xl text-gray-700">
                Język docelowy
            </div>
            <div class="flex items-center">
                <select class="appearance-none p-4 my-2 rounded-lg border-solid bg-white border border-gray-400 cursor-pointer" 
                        style="width: 200px; height: 60px; display: inline-block"
                        v-model.number="tempSelectedOutput"
                        >
                    <option disabled selected value="0"> Wybierz język </option>
                    <option 
                        v-for="(item, index) in translations[selectedInput]" 
                        :key="index" 
                        :value="item"
                    >
                        {{ getNameByID(item) }}
                    </option>
                </select>
            </div>
        </div>


        <div class="m-8">
            <div class="flex flex-row text-center">
                <div>
                    <div class="px-8 py-4 border-solid border-b border-r">
                        Tłumaczenie zwykłe <span @click="$openModal('cennikTranslationOne')"><i class="fas fa-info-circle cursor-pointer" ></i></span>
                    </div>
                    <div class="px-8 py-4 border-solid border-r">
                        {{ priceOne }} zł
                    </div>
                </div>
                <div>
                    <div class="px-8 py-4 border-solid border-b">
                        Tłumaczenie przysięgłe <span @click="$openModal('cennikTranslationTwo')"><i class="fas fa-info-circle cursor-pointer" ></i></span>
                    </div>
                    <div class="px-8 py-4">
                        {{ priceTwo }} zł
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="flex flex-col md:flex-row mt-8">
        <div class="flex-1 m-4">
            <img :src="aworiaHr">
            <div class="text-2xl text-gray-700">
                Koszty dodatkowe
            </div>

            <table class="table-auto text-center">
                <tr>
                    <td class="px-8 py-4 border-solid border-b border-r whitespace-no-wrap">
                        Tłumaczenie specjalistyczne <span @click="$openModal('cennikSpecialisticTranslation')"><i class="fas fa-info-circle cursor-pointer" ></i></span>

                    </td>
                    <td class="px-8 py-4 border-solid border-b">
                        dopłata 20% stawki bazowej
                    </td>
                </tr>
                <tr>
                    <td class="px-8 py-4 border-solid border-b border-r">
                        Obróbka graficzna <span @click="$openModal('cennikGraphic')"><i class="fas fa-info-circle cursor-pointer" ></i></span>
                    </td>

                    <td class="px-8 py-4 border-solid border-b">
                        dopłata 7 zł za każdą stronę fizyczną dokumentu źródłowego
                    </td>
                </tr>
                <tr>
                    <td class="px-8 py-4 border-solid border-r">
                        Tłumaczenie tekstów odręcznych lub mało czytelnych
                    </td>
                    <td class="px-8 py-4 border-solid">
                        dopłata 25% stawki bazowej
                    </td>
                </tr>
            </table>
            

        </div>
        <div class="flex-1 m-4">
            <img :src="aworiaHr">
            <div class="text-2xl text-gray-700">
                Zniżki - Rabaty ilościowe <span @click="$openModal('discount')"><i class="fas fa-info-circle cursor-pointer" ></i></span>
            </div>

            <table class="table-auto text-center">
                <tr>
                    <td class="px-8 py-4 border-solid border-b border-r">
                        tekst powyżej 30 stron rozliczeniowych
                    </td>
                    <td class="px-8 py-4 border-solid border-b">
                        3% rabat
                    </td>
                </tr>

                <tr>
                    <td class="px-8 py-4 border-solid border-b border-r">
                        tekst powyżej 50 stron rozliczeniowych
                    </td>
                    <td class="px-8 py-4 border-solid border-b">
                        7% rabat
                    </td>
                </tr>

                <tr>
                    <td class="px-8 py-4 border-solid border-r">
                        tekst powyżej 100 stron rozliczeniowych
                    </td>
                    <td class="px-8 py-4 border-solid">
                        12% rabat
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="flex flex-col md:flex-row mt-8 m-4">
        <div class="flex-1 m-4">
            <img :src="aworiaHr">
            <div class="text-2xl text-gray-700">
                Tryby czasowe realizacji zleceń <span @click="$openModal('timeRealization')"><i class="fas fa-info-circle cursor-pointer" ></i></span> 
            </div>

            <div v-for="view in realizationTimeView" :key="view.title">
                <div class="font-bold text-lg mt-2 ml-4">
                    {{ view.title }}
                </div>
                <hr>
                <div class="ml-4 mt-2" v-html="view.text"></div>
            </div>

        </div>

        <div class="flex-1 m-4">
            <img :src="aworiaHr">
            <div class="text-2xl text-gray-700">
                Kopia tłumaczenia przysięgłego
            </div>

            <table class="table-auto text-center">
                <tr>
                    <td class="px-8 py-4 border-solid border-b border-r">
                        Pierwszy egzemplarz (oryginał)
                    </td>
                    <td class="px-8 py-4 border-solid border-b">
                        darmowy
                    </td>
                </tr>
                <tr>
                    <td class="px-8 py-4 border-solid border-r">
                        Kolejne
                    </td>
                    <td class="px-8 py-4">
                        dopłata 20% kosztu tłumaczenia
                    </td>
                </tr>
            </table>

            <img :src="aworiaHr" class="mt-4">
            <div class="text-2xl text-gray-700">
                Wysyłka
            </div>

            <table>
                <tr>
                    <td class="px-8 py-4 border-solid border-b border-r">
                        E-mailowo
                    </td>
                    <td class="px-8 py-4 border-solid border-b">
                        usługa darmowa
                    </td>
                </tr>
                <tr>
                    <td class="px-8 py-4 border-solid border-r border-b">
                        List polecony ekonomiczny
                    </td>
                    <td class="px-8 py-4 border-solid border-b">
                        usługa darmowa
                    </td>
                </tr>
                <tr>
                    <td class="px-8 py-4 border-solid border-r border-b">
                        List polecony priorytetowy
                    </td>
                    <td class="px-8 py-4 border-solid border-b">
                        dopłata 6zł
                    </td>
                </tr>
                <tr>
                    <td class="px-8 py-4 border-solid border-r">
                        Kurier
                    </td>
                    <td class="px-8 py-4">
                        dopłata 12zł    
                    </td>
                </tr>
            </table>
            


        </div>
    </div>


    <div class="text-center">
        Cennik nie stanowi oferty w rozumieniu przepisów Kodeksu Cywilnego.<br>
        Podane kwoty są wartościami brutto nie zawierającymi podatku VAT.
    </div>


    



</div>
</template>
<script>

import aworiaHr from '../../assets/aworiahr.jpg';

import { mapState, mapGetters    } from 'vuex';

export default {
    data() {
        return {
            aworiaHr,
            tempSelectedOutput: 0,
            selectedInput: 0,
            priceOne: "niedostępne",
            priceTwo: "niedostępne",

            realizationTimeView: [
                {
                    title: "Standardowy",
                    text: 'Termin realizacji tłumaczenia: 4 dni robocze <br> Maksymalnie 5 stron rozliczeniowych na każdy dzień <br> Stawka podstawowa (bez dopłaty)'
                },
                {
                    title: "Przyspieszony",
                    text: 'Termin realizacji tłumaczenia: 3 dni robocze <br> Maksymalnie 9 stron rozliczeniowych na każdy dzień <br> Dopłata 30% stawki podstawowej'
                },
                {
                    title: "Pilny",
                    text: 'Termin realizacji tłumaczenia: 2 dni robocze <br> Maksymalnie 12 stron rozliczeniowych na każdy dzień <br> Dopłata 60% stawki podstawowej<br>'
                },
                {
                    title: "Ekspresowy",
                    text: 'Termin realizacji tłumaczenia: 1 dzień robocze<br>Maksymalnie 15 stron rozliczeniowych na każdy dzień <br>Dopłata 100% stawki podstawowej <br>'
                },
                
            ]

        }
    },
    computed: {
        ...mapState({
            availableLanguages: state => state.languages.languages,
            translations: state => state.languages.translations,
            selectedOutput: state => state.languages.selectedOutput //Array
        }),
        ...mapGetters({
            getPrice: 'languages/getPrice'
        })
    },
    mounted(){
        this.$store.dispatch('languages/getLanguages');
    },
    watch: {
        selectedInput(){
            this.priceOne = 'niedostępne';
            this.priceTwo = 'niedostępne';
            let result = this.getPrice(this.selectedInput, this.tempSelectedOutput);
            if(result != false){
                this.updatePrices(result);
            }
        },
        tempSelectedOutput(){
            this.priceOne = 'niedostępne';
            this.priceTwo = 'niedostępne';
            let result = this.getPrice(this.selectedInput, this.tempSelectedOutput);
            if(result != false){
                this.updatePrices(result);
            }
        }
    },
    methods: {
        getNameByID(id){
            return this.$store.getters['languages/getNameByID'](parseInt(id));
        },
        updatePrices(priceObj){
            if(priceObj.price != undefined){
                this.priceOne = priceObj.price;
            } else {
                this.priceOne = 'niedostępne';
            }
            if(priceObj.swear != undefined && priceObj.swear != 0){
                this.priceTwo = priceObj.swear;
            } else {
                this.priceTwo = 'niedostępne';
            }
        }
        
    },
}
</script>